body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  height: 100vh;
  width: 100vw;
}

.monaco-editor {
  height: 100%;
  width: 100%;
}

.profiles-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profiles {
}

.profiles-wrapper {
  flex: 1;
  margin-right: 10px;
}